@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(104, 104, 104);
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.container {
    width: 1107px;
    margin: 0 auto;
}

.container h1 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navBar {
    padding: 15px;
    overflow: hidden;
    position: sticky;
    top: 0;
    background-color: rgb(73, 73, 73);
    border-radius: 20px;
}

.navBar span {
    float: left;
}

.navBar a{
    float: right;
    color: rgb(207, 207, 207);
    text-decoration: none;
    font-size: 23px;
    margin-right: 15px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

.navBar a::after {
    content: "";
    position: absolute;
    background-color: white;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

.navBar a:hover:after {
    width: 100%;
}

.navBar a:hover {
    color: white;
}

.intro-sh {
    width: 900px;
    margin: 0 auto;
    animation: fade 0.6s;
}
.sh-image {
    float: left;
    display: inline-block;
    animation: fade 2s;
}

.sh-image img {
    width: 250px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
}

.sh-image p {
    text-align: center;
    font-size: 13px;
    width: 200px;
    margin: 0 auto;
}

.sh-desc {
    display: inline-block;
    width: 550px;
    margin-left: 70px;
    animation: fade 1.5s;
}

.sh-desc h2 {
    text-align: center;
    font-size: 30px;
}

.sh-desc p {
    text-align: justify;
}

.sh-desc span {
    font-size: 20px;
    margin-left: 30px;
}

.next-content {
    margin-top: 200px;
    animation: fade 0.6s;
}

.first-app-sh {
    width: 900px;
    margin: 0 auto;
}

.sh-app-desc {
    display: inline-block;
    width: 480px;
    animation: fade 1.5s;
}

.sh-app-desc h2 {
    font-size: 30px;
    text-align: center;
}

.sh-app-desc p {
    text-align: justify;
}

.sh-app-desc span {
    font-size: 20px;
    margin-left: 30px; 
}

.sh-app-img {
    float: right;
    display: inline-block;
    width: 250px;
    margin-right: 50px;
    animation: fade 2s;
}

.sh-app-img p {
    text-align: center;
    font-size: 13px;
    width: 200px;
    margin: 0 auto;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}