@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(104, 104, 104);
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1107px;
    margin: 0 auto;
}

.navBar {
    padding: 15px;
    overflow: hidden;
    position: sticky;
    top: 0;
    background-color: rgb(104, 104, 104);
}

.navBar span {
    float: left;
}

.navBar a{
    float: right;
    color: rgb(207, 207, 207);
    text-decoration: none;
    font-size: 23px;
    margin-right: 15px;
    position: relative;
}

.navBar a::after {
    content: "";
    position: absolute;
    background-color: white;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

.navBar a:hover:after {
    width: 100%;
}

.navBar a:hover {
    color: white;
}

.book {
    padding: 50px;
    color: white;
    animation: fade 1.5s;
}

.book img {
     width: 380px;
     box-shadow: 5px 5px 5px black;
     float: left;
     margin-top: 30px;
}

.book-desc {
    width: 50%;
    display: inline-block;
    margin-left: 100px;
    margin-top: -20px;
}

.book-desc h2 {
    text-align: center;
    font-size: 38px;
}

.book-desc p {
    font-size: 16px;
}

.book-desc p span {
    margin-left: 20px;
    font-size: 22px;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}