@media (max-width: 640px) {
    .container {
        width: 350px;
        margin: 0 auto;
    }

    .navBar a {
        font-size: 16px;
        padding-left: 0;
        padding-right: 0;
    }

    .books img {
        width: 240px;
    }

    .books img:hover {
        width: 240px;
    }
}